{% extends "/shared/basePage.twig" %}

{# Toolbar elements #}
{% block toolbar %}{% include "shared/profileMenu.twig" %}{% endblock %}

{# Content #}
{% block content %}
	<div class="dialogs"></div>
	<div class="pages"></div>
{% endblock %}