{# This template would render if some system error would persist #}
<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{ preferences.site.name }}</title>
</head>
<body>
<h1>Произошла ошибка</h1>
<p>{{ error }}</p>
</body>
</html>