{% verbatim %}

<!-- Folder thumb -->
<script type="text/template" id="files-thumb">
	<div class="file" ng-click="loadFile(file.id); update()">
		<div class="meta">
			{{ file.name }}
		</div>
	</div>
</script>


<!-- Holds add folder form -->
<script type="text/template" id="files-windows-add">
	<form method="post"  name="addForm" ng-submit="saveFile.submit(addForm, $event)">
		<h1>Загрузить в альбом {{ current.name }} </h1>
		<smart-label name="files" type="file" title="Выберите файл(ы)" multiple="multiple" required></smart-label>
		<smart-button type="submit" ng-class="{ disabled: ajax }">Загрузить</smart-button>
	</form>
</script>


{% endverbatim %}