{% verbatim %}

<!-- Folder thumb -->
<script type="text/template" id="folders-thumb">
	<div class="folder" ng-click="folders.load(folder.folderId)">
		<div class="meta">
			{{ folder.name }}
		</div>
	</div>
</script>


<!-- Holds add folder form -->
<script type="text/template" id="folders-windows-add">
	<form method="post"  name="addForm" ng-submit="folders.save.submit(addForm, $event)">
		<h1>Добавить альбом в {{ current.name }} </h1>
		<smart-label type="text" title="Имя" ng-model="folders.save.data.name" required></smart-label>
		<smart-button type="submit" ng-class="{ disabled: ajax }">Создать</smart-button>
	</form>
</script>


{% endverbatim %}