{% verbatim %}

{# This template contains help tip #}
<script type="text/template" id="forms-label">
	<label>
		<span class="name">{{ name }}</span>
		<input type="{{ type }}" />
		<span class="desc"></span>
	</label>
</script>

{% endverbatim %}