{% verbatim %}


<!-- Input to label template -->
<script type="text/template" id="forms-label">
	<label>
		<span class="name">{{ title }}</span>
		<span class="desc"></span>
	</label>
</script>


<!-- Submit button template -->
<script type="text/template" id="forms-submit">
	<label class="button">
		<input type="submit" value="{{ html }}"/>
	</label>
</script>


<!-- Simple button  -->
<script type="text/template" id="forms-button">
	<a href="" ng-transclude></a>
</script>

{% endverbatim %}