{% verbatim %}

<!-- Holds folder template -->
<script type="text/template" id="windows-modal">
	<div class="windowShadow">
		<div class="windowHolder">
			<div class="windowData"></div>
		</div>
	</div>
</script>

{% endverbatim %}