.choose {
	background    : #f0f0f0;
	padding       : 25px;
	width         : 260px;
	margin        : auto;
	border        : 1px soild #ddd;
	border-radius : 10px;
	input {
		display       : block;
		padding       : 10px 25px;
		background    : #3f94e9;
		border-radius : 5px;
		width         : 200px;
		color         : white;
		margin        : 5px auto;
		font-size     : 14px;
		border        : 1px solid #0063d5;
		cursor        : pointer;
	}
}