{% extends "/shared/basePage.twig" %}

{% block toolbar %}
    <a href="#" class="addFolder">+ Альбом</a>
    <a href="#" class="addFiles">+ Файлы</a>
{% endblock %}

{% block content %}
    <div id="folders" class="hidden">
        <h1>Альбомы</h1>
        <div class="list"></div>
    </div>
    <div id="files" class="hidden">
        <h1>Фото / Видео</h1>
        <div class="list"></div>
    </div>
{% endblock %}