{% extends "/shared/basePage.twig" %}

{% block toolbar %}
    <div class="path"></div>
    <a class="addFolder action">+ Альбом</a>
    <a class="addFiles action">+ Файлы</a>
{% endblock %}

{% block content %}
    <div id="folders" class="hidden">
        <h1>Альбомы</h1>
        <div class="list"></div>
    </div>
    <div id="files" class="hidden">
        <h1>Фото / Видео</h1>
        <div class="list"></div>
    </div>
{% endblock %}