{% extends "/shared/basePage.twig" %}

{% block toolbar %}
    <a href="#" ng-click="folders.add($event)">Создать директорию</a>
    <a href="#" ng-click="files.add($event)">Загрузить файлы</a>
{% endblock %}

{% block content %}

{% endblock %}