{% extends "/shared/basePage.twig" %}

{# Toolbar elements #}
{% block toolbar %}
    <a href="#">Лента</a>
    <div class="separator"></div>
    <a href="#">События</a>
    <div class="separator"></div>
    <a href="#">Фото</a>
{% endblock %}