{% extends "/shared/basePage.twig" %}

{% block toolbar %}
	<a href="{{ base }}santa">Тайный Санта</a>
	<div class="separator"></div>
	<a href="{{ base }}preferences">Настройки</a>
	<div class="separator"></div>
    <a href="?type=logout">Выйти</a>
{% endblock %}

{% block content %}
{% endblock %}