{% extends "/shared/basePage.twig" %}

{% block toolbar %}
	<span>Сообщения</span>
	<div class="separator"></div>
	<a href="{{ base }}settings">Настройки</a>
{% endblock %}

{% block content %}
{% endblock %}