{% extends "/shared/basePage.twig" %}

{# Toolbar elements #}
{% block toolbar %}
	<a href="{{ base }}santa" class="active">Тайный Санта</a>
	<div class="separator"></div>
	<a href="{{ base }}preferences">Настройки</a>
	<div class="separator"></div>
	<a href="?type=logout">Выйти</a>
{% endblock %}

{# Content #}
{% block content %}
	{{ _self.choose() }}
{% endblock %}

{# Choose form #}
{% macro choose() %}
	<div class="choose">
		<form action="">
			<input type="submit" value="Участвую" />
			<input type="submit" value="В этот раз без меня" />
		</form>
	</div>
{% endmacro %}