{% extends "/shared/basePage.twig" %}

{% block toolbar %}
	<a href="{{ base }}profile">Сообщения</a>
	<div class="separator"></div>
	<span>Настройки</span>
{% endblock %}

{% block content %}
{% endblock %}