.folder {
  width: 290px;
  height: 200px;
  background: #eee;
  float: left;
  margin: 2px;
  overflow: hidden;
}
.folder .meta {
  width: 270px;
  position: absolute;
  margin-top: 175px;
  color: #fff;
  height: 15px;
  padding: 5px 10px;
  background: url(../img/backgrounds/blackTransparent.png);
}
.file {
  width: 290px;
  height: 200px;
  background: #eee;
  float: left;
  margin: 2px;
  overflow: hidden;
}
.file:hover .meta {
  display: block;
}
.file .meta {
  width: 270px;
  position: absolute;
  margin-top: 175px;
  display: none;
  color: #fff;
  height: 15px;
  padding: 5px 10px;
  background: url(../img/backgrounds/blackTransparent.png);
}
