#files,
#folders {
  margin-bottom: 25px;
  overflow: hidden;
}
#files > .list,
#folders > .list {
  overflow: auto;
}
.icon {
  background: url(../img/icons/thumb.png) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
}
.icon.info {
  margin-left: 265px;
  margin-top: 10px;
}
#folders .folder {
  cursor: pointer;
  width: 296px;
  height: 200px;
  background: #eeeeee url(../img/icons/logoTransparent.png) 50% 40% no-repeat;
  float: left;
  margin: 2px;
  overflow: hidden;
}
#folders .folder .meta {
  width: 276px;
  position: absolute;
  margin-top: 166px;
  color: #fff;
  height: 20px;
  padding: 7px 10px;
  font-size: 18px;
  background: url(../img/backgrounds/blackTransparent.png);
}
.infoBubble {
  padding: 15px;
  background: url(../img/backgrounds/blackTransparent.png);
  position: absolute;
  margin: 50px 10px 10px 10px;
  color: #fff;
  width: 245px;
  display: none;
}
.infoBubble a {
  color: #5cf;
}
#files .file {
  display: inline-block;
  cursor: pointer;
  width: 296px;
  height: 200px;
  background: #eeeeee url(../img/icons/thumbBack.png) 50% 50% no-repeat;
  float: left;
  margin: 2px;
  overflow: hidden;
}
#files .file:hover .meta {
  display: block;
}
#files .file.video .icon {
  position: absolute;
  margin-top: 60px;
  margin-left: 118px;
  width: 64px;
  height: 64px;
  background: url(../img/icons/play.png) no-repeat;
}
#files .file .meta {
  width: 276px;
  position: absolute;
  margin-top: 175px;
  display: none;
  color: #fff;
  height: 15px;
  padding: 5px 10px;
  background: url(../img/backgrounds/blackTransparent.png);
}
.more {
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #bdd5ee;
  color: #6b8999;
  cursor: pointer;
}
.more:hover {
  background: #ddf5ff;
}
.windowShadow.fillView {
  background: white;
}
.windowHolder.fillView {
  max-width: 90%;
  padding: 0;
  box-shadow: none;
}
.windowHolder.fillView .photo {
  display: block;
  max-width: 900px;
  max-height: 900px;
  margin: auto;
  cursor: pointer;
}
.windowHolder.fillView .comments {
  float: left;
  width: 700px;
  margin-top: 15px;
  margin-left: 15px;
}
.windowHolder.fillView .comments h1 {
  margin-bottom: 0;
}
.windowHolder.fillView .comments .comment {
  overflow: auto;
  border-bottom: 1px solid #e4e4e4;
}
.windowHolder.fillView .comments .comment textarea {
  width: 400px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  float: left;
}
.windowHolder.fillView .comments .comment .avatar {
  float: left;
  margin: 15px 15px;
}
.windowHolder.fillView .comments .comment .bubble {
  background: url(../img/elements/speechCloud.png) 0 0 no-repeat;
  padding: 15px 25px 15px 35px;
  float: left;
  min-height: 50px;
  font-size: 14px;
  max-width: 550px;
}
.windowHolder.fillView .comments .comment .bubble .head {
  display: block;
  margin-bottom: 15px;
  color: #999;
}
.avatar .border {
  width: 50px;
  height: 50px;
  position: absolute;
  background: url(../img/elements/avatarBorder.png) 50% 50%;
}
