.header {
	background : #f3f3f3;
	height     : 70px;
	.content {
		width      : 900px;
		padding    : 15px;
		background : #fbfbfb;
		margin     : auto;
		overflow   : auto;
	}
	.logo {
		width      : 80px;
		height     : 40px;
		display    : block;
		float      : left;
		background : url(../img/icons/logoColor.png) no-repeat;
	}
	.toolbar {
		float : right;
		a {
			float           : left;
			display   : block;
			height    : 20px;
			padding   : 7px 0;
			font-size : 18px;
			color     : #0073e5;
			text-decoration : none;
			&.active {
				color: #536d74;
			}
		}
		.separator {
			width      : 1px;
			height     : 30px;
			background : #eee;
			float      : left;
			margin: 5px 15px;

		}
	}
}

/*
.header {
	background : #16141b url(../img/backgrounds/funny2.png) center bottom;
	height: 220px;
	overflow: auto;
	.logo {
		width: 230px;
		height: 131px;
		margin: 43px auto 0 auto;
		display: block;
		&.s0 { background-image: url(../img/slides/0.png); }
		&.s1 { background-image: url(../img/slides/1.png); }
		&.s2 { background-image: url(../img/slides/2.png); }
		&.s3 { background-image: url(../img/slides/3.png); }
		&.s4 { background-image: url(../img/slides/4.png); }
		&.s5 { background-image: url(../img/slides/5.png); }
		&.s6 { background-image: url(../img/slides/6.png); }
		&.s7 { background-image: url(../img/slides/7.png); }
		&.s8 { background-image: url(../img/slides/8.png); }
		&.s9 { background-image: url(../img/slides/9.png); }
		&.s10 { background-image: url(../img/slides/10.png); }
	}
} */