.header {
	background : #16141b url(../img/backgrounds/funny2.png) center bottom;
	height: 220px;
	overflow: auto;
	.logo {
		width: 230px;
		height: 131px;
		margin: 43px auto 0 auto;
		display: block;
		&.s0 { background-image: url(../img/slides/0.png); }
		&.s1 { background-image: url(../img/slides/1.png); }
		&.s2 { background-image: url(../img/slides/2.png); }
		&.s3 { background-image: url(../img/slides/3.png); }
		&.s4 { background-image: url(../img/slides/4.png); }
		&.s5 { background-image: url(../img/slides/5.png); }
		&.s6 { background-image: url(../img/slides/6.png); }
		&.s7 { background-image: url(../img/slides/7.png); }
		&.s8 { background-image: url(../img/slides/8.png); }
		&.s9 { background-image: url(../img/slides/9.png); }
		&.s10 { background-image: url(../img/slides/10.png); }
	}
}
.toolbar {
	background : #16141b url(../img/backgrounds/funny.png) center top;
	.holder {
		width: 900px;
		margin: auto;
		padding: 10px 0;
		overflow: auto;
		a {
			color: white;
			font-size: 16px;
			display: block;
			margin-right: 25px;
			float: left;
			&:hover { text-decoration: none; }
		}
	}
}