{% import "shared/elements.twig" as elements %}
<div class="toolbar main">
    <div class="holder">{% block toolbar %}{% endblock %}</div>
</div>
<div class="contentHolder {{ menu ? "menu" : "" }}">
    {% if menu %}
        <div class="menu"></div>
    {% endif %}
    <div class="content">
        {# Output page information #}
        {% for message in resultMessages %}
            {{ elements.resultMessage(message) }}
        {% endfor %}

        {# Main page data #}
        {% block content %}{% endblock %}

    </div>
</div>
{% block javascript %}{% endblock %}