<div class="header">
    <div class="content">
        <a class="logo" href="{{ base }}"></a>
        <div class="toolbar">
            <a href="{{ base }}"><span>Лента</span></a>
            <div class="separator"></div>
            <a href="{{ base }}files"><span>Файлы</span></a>
            <div class="separator"></div>
            <a href="?type=logout"><span>Выйти</span></a>
        </div>
    </div>
</div>