<a href="{{ base }}santa" {% if pageName == "santa" %}class="active"{% endif %}>Секретный Санта</a>
<div class="separator"></div>
<a href="{{ base }}settings" {% if pageName == "settings" %}class="active"{% endif %}>Настройки</a>

<a href="?type=logout" style="float: right">Выйти</a>